doctype html
html
  style.
    header {
    background-color:#f3f3f3;
    color:#165B9E;
    text-align:center;
    padding:10px;
    border:3px solid black;
    }
    nav {
    line-height:20px;
    background-color:#424242;
    color:white;
    width:600px;
    float:left;
    padding:10px;
    margin:15px;
    }
    footer {
    background-color:#f3f3f3;
    color:#EF4A4E;
    text-align:center;
    padding:10px;
    border:2px solid black;
    clear:both;
    }
  header
    h1
      img(src='/images/mlb.gif', alt='MLB', style='float:left;width:84px;height:42px')
      | &#x9;Who was the best 1994 team?
    | &#x9;
    p(style='color:#EF4A4E')
      b
        | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Created for Baseball Hack Day - Notman House, Montreal
  nav
    h2
      i Choose the importance of each advanced stat:
    br
    h3 Run Differential
    form
      input(type='radio', name='Importance', value='High')
      | &nbsp;&nbsp;Hell Yeah!&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Medium')
      | &nbsp;&nbsp;Kinda Sorta&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Low')
      | &nbsp;&nbsp;Meh&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Ignore', checked='')
      | &nbsp;&nbsp;Fuhhggedaboutit!&nbsp;&nbsp; 
      br
      hr
      br
    h3 ERA
    form
      input(type='radio', name='Importance', value='High')
      | &nbsp;&nbsp;Hell Yeah!&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Medium')
      | &nbsp;&nbsp;Kinda Sorta&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Low')
      | &nbsp;&nbsp;Meh&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Ignore', checked='')
      | &nbsp;&nbsp;Fuhhggedaboutit!&nbsp;&nbsp; 
      br
      hr
      br
    h3 OPS
    form
      input(type='radio', name='Importance', value='High')
      | &nbsp;&nbsp;Hell Yeah!&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Medium')
      | &nbsp;&nbsp;Kinda Sorta&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Low')
      | &nbsp;&nbsp;Meh&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Ignore', checked='')
      | &nbsp;&nbsp;Fuhhggedaboutit!&nbsp;&nbsp; 
      br
      hr
      br
    h3 Speed Score (SPD)
    form
      input(type='radio', name='Importance', value='High')
      | &nbsp;&nbsp;Hell Yeah!&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Medium')
      | &nbsp;&nbsp;Kinda Sorta&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Low')
      | &nbsp;&nbsp;Meh&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Ignore', checked='')
      | &nbsp;&nbsp;Fuhhggedaboutit!&nbsp;&nbsp; 
      br
      hr
      br
    h3 Strikeouts to Walks (K-BB%)
    form
      input(type='radio', name='Importance', value='High')
      | &nbsp;&nbsp;Hell Yeah!&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Medium')
      | &nbsp;&nbsp;Kinda Sorta&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Low')
      | &nbsp;&nbsp;Meh&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Ignore', checked='')
      | &nbsp;&nbsp;Fuhhggedaboutit!&nbsp;&nbsp; 
      br
      hr
      br
    h3 WHIP
    form
      input(type='radio', name='Importance', value='High')
      | &nbsp;&nbsp;Hell Yeah!&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Medium')
      | &nbsp;&nbsp;Kinda Sorta&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Low')
      | &nbsp;&nbsp;Meh&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Ignore', checked='')
      | &nbsp;&nbsp;Fuhhggedaboutit!&nbsp;&nbsp; 
      br
      hr
      br
    h3 RA9-WAR
    form
      input(type='radio', name='Importance', value='High')
      | &nbsp;&nbsp;Hell Yeah!&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Medium')
      | &nbsp;&nbsp;Kinda Sorta&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Low')
      | &nbsp;&nbsp;Meh&nbsp;&nbsp;
      input(type='radio', name='Importance', value='Ignore', checked='')
      | &nbsp;&nbsp;Fuhhggedaboutit!&nbsp;&nbsp; 
      br
      hr
      br
  section
    style.
      table {
      width:20%;
      float:right;
      }
      table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      }
      th, td {
      padding: 7px;
      margin: 30px;
      text-align: left;
      }
      table#t01 tr:nth-child(even) {
      background-color: #eee;
      font-size: 16px;
      }
      table#t01 tr:nth-child(odd) {
      background-color:#fff;
      }
      table#t01 th	{
      background-color: black;
      color: white;
      font-size: 18px;
      }
    br
    table.sortable
      table#t01
        tr
          th Team Name
          | &#x9;&#x9;
          |     
          th Score
        |   
        tr
          td Expos
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Yankees
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Orioles
          |     
          td xx
        |   
        tr
          td Blue Jays
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Red Sox
          | &#x9;
          |     
          td xx
        |   
        tr
          td Tigers
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td White Sox
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Indians
          | &#x9;
          |     
          td xx
        |   
        tr
          td Royals
          | &#x9;
          |     
          td xx
        |   
        tr
          td Twins
          | &#x9;
          |     
          td xx
        |   
        tr
          td Brewers
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Rangers
          | &#x9;
          |     
          td xx
        |   
        tr
          td Athletics
          |     
          td xx
        |   
        tr
          td Mariners
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Angels
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Braves
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Mets
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Phillies
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Marlins
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Reds
          | &#x9;
          |     
          td xx
        |   
        tr
          td Astros
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Pirates
          | &#x9;
          |     
          td xx
        |   
        tr
          td Cardinals
          |     
          td xx
        |   
        tr
          td Cubs
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Dodgers
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Giants
          | &#x9;&#x9;
          |     
          td xx
        |   
        tr
          td Rockies
          | &#x9;
          |     
          td xx
        |   
        tr
          td Padres
          | &#x9;
          |     
          td xx
  footer
    h3 Copyright &copy; 2015 Expos Are The Best, Baseball Hack Day.
  script(src="//code.jquery.com/jquery-1.11.2.min.js")
  script(src="/javascripts/update.js")
